.Header {
    background-color: darkslategrey;
}
.Header img {
    border-radius: 250px;
    padding-top: 30px;
    padding-left: 30px;
}
.Header p {
    float: right;
    position: relative;
    right: 400px;
    font-size: 100px;
}
ul {
    background-color:#333;
    margin-top: 0px;
    position: sticky;
    top: 0px;
    border: 5px solid darkslategray;
    list-style-type: none;
}
li {
    display: inline;
    font-size: 30px;
    padding-right: 50px;

}
.navbar a {
    text-decoration: none;
    color: white;
    display: inline;
}
.navbar a:hover, .dropdown:hover {
    background-color: darkslategrey;
}
#About h2 {
    text-align: center;
    font-family: fantasy;
    font-size: 50px;
    color: darkslategrey;
    text-decoration: underline;
    margin-top: 50px;
}
#About span {
    font-size: 80px;
    float:right;
    position: relative;
    bottom: 400px;
    color: darkslategray;
    position: relative;
    top: 0px;
}
#About p {
    float: right;
    width: 800px;
    line-height: 50px;
    color: darkslategray;
    font-size: 30px;
    position: relative;
    top: 100px;
    right: 100px;
}
#Res h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 50px;
    color: darkslategray;
}
#ed {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}
table,th, tr, td {
    border: 4px solid darkslategray;
    border-collapse: collapse;
    padding: 20px;
    font-size: 30px;
}
.Hob li{
    display: block;
    padding: 10px;
}
h3 {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
}
